<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="urcell_gazebo">    

    <!-- GAZEBO IGNITION -->

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find urcell_description)/config/ros2_controllers.yaml</parameters>
        </plugin>
        <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <!-- Add sensor tags to Realsense links -->
    <gazebo reference="sensor_d435i_link">
        <sensor name="realsense_d435" type="rgbd_camera">
            <topic>realsense</topic>
            <ignition_frame_id>sensor_d435i_link</ignition_frame_id>
            <update_rate>5</update_rate>
            <camera name="camera">
                <horizontal_fov>1.5</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>10</far>
                </clip>
                <depth_camera>
                    <clip>
                        <near>0.1</near>
                        <far>10</far>
                    </clip>
                </depth_camera>
                <noise>
                    <type>gaussian</type>
                    <mean>0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
        </sensor>
    </gazebo>

  </xacro:macro>
    
</robot>
