<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- <xacro:include filename="$(find urcell_descriptions)/urdf/parts/fixedparts/fixedobjects.gazebo.xacro"/> -->
  
  <xacro:macro name="fixed_objects" params="parent *joint_origin">
    <joint name="fixed_objects_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <parent link="world" />
        <child link="fixed_objects" />
    </joint>  

    <link name="fixed_objects">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <visual>
            <!-- box1: Support -->
            <geometry>
                <box size="0.5 1.95 0.05"/>
            </geometry>
            <origin xyz="0.0 0.0 2.100" rpy="0.0 0.0 0.0" />
        </visual>
        <collision>
            <!-- box1 -->
            <geometry>
                <box size="0.5 1.95 0.05"/>
            </geometry>
            <origin xyz="0.0 0.0 2.100" rpy="0.0 0.0 0.0" />
        </collision>
        <visual>
            <!-- box2: Left column -->
            <geometry>
                <box size="0.58 0.12 3"/>
            </geometry>
            <origin xyz="0 -1.06 1.5" rpy="0.0 0.0 0.0" />
        </visual>
        <collision>
            <!-- box2 -->
            <geometry>
                <box size="0.58 0.12 3"/>
            </geometry>
            <origin xyz="0 -1.06 1.5" rpy="0.0 0.0 0.0" />
        </collision>
        <visual>
            <!-- box3: Right column -->
            <geometry>
                <box size="0.58 0.12 3"/>
            </geometry>
            <origin xyz="0 1.06 1.5" rpy="0.0 0.0 0.0" />
        </visual>
        <collision>
            <!-- box3 -->
            <geometry>
                <box size="0.58 0.12 3"/>
            </geometry>
            <origin xyz="0 1.06 1.5" rpy="0.0 0.0 0.0" />
        </collision>
        <visual>
            <!-- box4: Table -->
            <geometry>
                <box size="1.2 2 0.04"/>
            </geometry>
            <origin xyz="0.2 0 0.870" rpy="0.0 0.0 0.0" />
        </visual>
        <collision>
            <!-- box4 -->
            <geometry>
                <box size="1.2 2 0.04"/>
            </geometry>
            <origin xyz="0.2 0 0.870" rpy="0.0 0.0 0.0" />
        </collision>
        <visual>
            <!-- box5: Wall -->
            <geometry>
                <box size="0.05 2.2 3"/>
            </geometry>
            <origin xyz="-0.7250 0 1.5" rpy="0.0 0.0 0.0" />
        </visual>
        <collision>
            <!-- box5 -->
            <geometry>
                <box size="0.05 2.2 3"/>
            </geometry>
            <origin xyz="-0.7250 0 1.5" rpy="0.0 0.0 0.0" />
        </collision>
        <visual>
            <!-- box6: Tabla -->
            <geometry>
                <box size="0.5 0.455 0.020"/>
            </geometry>
            <origin xyz="0.600 0 1.020" rpy="0.0 0.0 0.0" />
        </visual>
        <collision>
            <!-- box6 -->
            <geometry>
                <box size="0.5 0.455 0.020"/>
            </geometry>
            <origin xyz="0.600 0 1.020" rpy="0.0 0.0 0.0" />
        </collision>
        <visual>
            <!-- box7: Guide -->
            <geometry>
                <box size="0.260 2 0.110"/>
            </geometry>
            <origin xyz="0.600 0 0.945" rpy="0.0 0.0 0.0" />
        </visual>
        <collision>
            <!-- box7 -->
            <geometry>
                <box size="0.260 2 0.110"/>
            </geometry>
            <origin xyz="0.600 0 0.945" rpy="0.0 0.0 0.0" />
        </collision>                   
    </link>
  </xacro:macro>  
</robot>
